<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite_SeleniumTest">
    <test verbose="2" preserve-order="true" name="C:/Users/vbp1049/IdeaProjects/MavenProj_TestNG">
        <classes>
            <class name="SeleniumTest"/>
        </classes>
    </test>
</suite>